@import "tailwindcss";

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #87423f;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #fbeb50;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #164a45;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #397145;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

/* TRANSITION API */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation-name: fadeOut;
  animation-duration: 850ms;
  animation-timing-function: ease-out;
}

::view-transition-new(root) {
  animation-name: fadeIn;
  animation-duration: 850ms;
  animation-timing-function: ease-out;
}

@keyframes slide-to-bottom {
  to {
    transform: translateY(100%);
  }
}
@keyframes slide-from-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

::view-transition-old(login) {
  animation-name: slide-to-bottom;
  animation-duration: 850ms;
  animation-timing-function: ease-out;
}

::view-transition-new(login) {
  animation-name: slide-from-top;
  animation-duration: 850ms;
  animation-timing-function: ease-out;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #87423f;
  color: #fbeb50;
  scroll-behavior: smooth;
}

header {
  z-index: 10;
  view-transition-name: nav;
  background-color: #164a45;
}

#login {
  view-transition-name: login;
}

#navigation-drawer {
  z-index: 999;
}

.stabilize-top {
  position: relative;
  top: 90px;
}

/* BUTTON */
.primary-btn {
  background-color: #fbeb50;
  color: #164a45;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.primary-btn:hover,
.primary-btn:active {
  background-color: #e5d940;
}

/* NAV ITEM */
.nav-item {
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fbeb50;
  transition: all 0.2s;
  font-weight: 600;
}

.nav-item:hover::after {
  width: 100%;
  left: 0;
}

.responsive {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .responsive {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* FORM */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-control {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #87423f;
  background-color: #164a45;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: #fbeb50;
}

.input-control:focus {
  border-color: #fbeb50;
  outline: none;
}

.input-image-control {
  background-color: #397145;
  color: #fbeb50;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}

.input-image-control:hover,
.input-image-control:active {
  background-color: #164a45;
  color: #fbeb50;
}

.form-header {
  font-size: 2.5rem;
  color: #fbeb50;
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

.main-header {
  min-height: 90px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  color: #fbeb50;
}

.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: #397145;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;
  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  font-weight: bold;
  font-size: 28px;
  color: #fbeb50;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;
  display: block;
  color: #fbeb50;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

MAIN .main-content {
  padding-block: 20px;
}

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }
}

#logout-button {
  font-weight: 600;
  border: 1px solid #27272a;
  background-color: transparent;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logout-button:hover {
  background-color: #87423f;
}

#logout-button:active {
  background-color: #87423f;
}
